@import './base.css';



body{
  background-color:#DCDFE6;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  background-color:#DCDFE6;
  padding: 0;
}


.text-main{
  color:#606266 ;

}

.text-button-withe{
  color:#303133 ;

}


.ma-b-4{
  margin-bottom:4px
}

.ma-L-8{
  margin-left:8px
}

.p-L-10{
  padding-left: 10px;
  padding-right: 10px;
}
